---
Language: C
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevel
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceInsideAngles: false
SpaceInsideBrackets: false
SpaceInsideCStyleCastParentheses: false
SpaceInsideParentheses: false
SpaceInsideSquareBrackets: false
Standard: C11
...
